In [56]:
import pandas as pd

In [8]:
request = [{
        "_id": "60564d9c45b373e6c0c558d5",
        "name": "A Fifth One",
        "inputs": [
            {
                "cadences": {
                    "_id": "6042ed163b465a4fcabdbbb4",
                    "name": "Quarterly",
                    "period": "quarter"
                },
                "current_time_spent_period": {
                    "_id": "6042ecf23b465a4fcabdbbb2",
                    "name": "Weekly",
                    "period": "week",
                    "plural": "Weeks",
                    "abbr": "Wks"
                },
                "employees": {
                    "_id": "6042edda3b465a4fcabdbbb7",
                    "name": "Account Management",
                    "cost": 65000,
                    "period": "year"
                },
                "products": {
                    "_id": "6042ebf991adc4633779ce0d",
                    "name": "Another Product",
                    "cost": 5000,
                    "period": "quarter",
                    "time_save": 80,
                    "time_unit": "hour"
                },
                "_id": "6056500b45b373e6c0c558e3",
                "current_time_spent": 35,
                "name": "something"
            },
            {
                "cadences": {
                    "_id": "6042ecf23b465a4fcabdbbb2",
                    "name": "Weekly",
                    "period": "week"
                },
                "current_time_spent_period": {
                    "_id": "6042ed073b465a4fcabdbbb3",
                    "name": "Monthly",
                    "period": "month",
                    "plural": "Months",
                    "abbr": "Mths"
                },
                "employees": {
                    "_id": "60500be37d6969c0bb0a9e25",
                    "name": "VP Engineering",
                    "cost": 200000,
                    "period": "year"
                },
                "products": {
                    "_id": "605173f4ca68e6c83a8bc803",
                    "name": "This product saves 5 hours a month",
                    "cost": 1000,
                    "period": "year",
                    "time_save": 5,
                    "time_unit": "hour"
                },
                "_id": "6056500b45b373e6c0c558e4",
                "current_time_spent": 10,
                "name": "Harrison Solomon"
            }
        ]
}]

In [15]:
req = request[0]["inputs"]

In [14]:
date_dict = {
            "year": {
                    "hour": 2096,
                    "day": 262,
                    "quarter": 4,
                    "month": 12,
                    "week": 52,
                    "year": 1,
                    "abbr": "Y"
              },
              "week":{
                "hour": 40,
                "year": (40/2096),
                "quarter": (40/524),
                "day": 5,
                "week": 1,
                "month": (12/52),
                "abbr": "W"
            },
            "month":{
                "hour": (2080/12),
                "year": (1/12),
                "quarter": (1/4),
                "day": (262/12),
                "week": (52/12),
                "month": 1,
                "abbr": "M"
            },
              "day":{
                  "hour": 8,
                  "year": (1/262),
                  "quarter": (1/65.5),
                  "day": 1,
                  "week": (1/52),
                  "month": (12/262),
                  "abbr": "D"
              },
              "hour":{
                  "day":  (1/8),
                  "year": (1/(262*8)),
                  "quarter": (1/((262/4)*8)),
                  "hour": 1,
                  "week": (1/40),
                  "month": (12/2080),
                  "abbr": "H"
              },
              "quarter":{
                  "hour": 524,
                  "day": 65.5,
                  "year": (1/4),
                  "quarter": 1,
                  "week": (524/40),
                  "month": 4,
                  "abbr": "Q"
              }
          }

In [72]:
columns = ["current_time_spent_period","employee_cost_period","employee_cost_ratio","employee_salary","current_time_spent","cost_per_task","report_interval","task_cadence","cadence_interval_ratio","cost_per_period"]

In [76]:
dfObj = pd.DataFrame(columns=columns)
for i in range(len(req)):
    print(dfObj)
    output = {}
    output["current_time_spent_period"] = req[i]["current_time_spent_period"]["period"]
    output["employee_cost_period"] = req[i]["employees"]["period"]
    output["employee_cost_ratio"] = date_dict[output["current_time_spent_period"]][output["employee_cost_period"]]
    output["employee_salary"] = req[i]["employees"]["cost"]
    output["current_time_spent"] = req[i]["current_time_spent"]
    output["cost_per_task"] = output["employee_salary"] * output["current_time_spent"] * output["employee_cost_ratio"]
    output["report_interval"] = "quarter"
    output["task_cadence"] = req[i]["cadences"]["period"]
    output["cadence_interval_ratio"] = date_dict[ output["report_interval"]][output["task_cadence"]]
    output["cost_per_period"] = output["cost_per_task"] * output["cadence_interval_ratio"]
    #row_output = pd.DataFrame(output,index=[0])
    dfObj = dfObj.append(output,ignore_index=True)

Empty DataFrame
Columns: [current_time_spent_period, employee_cost_period, employee_cost_ratio, employee_salary, current_time_spent, cost_per_task, report_interval, task_cadence, cadence_interval_ratio, cost_per_period]
Index: []
  current_time_spent_period employee_cost_period  employee_cost_ratio  \
0                      week                 year             0.019084

  employee_salary current_time_spent  cost_per_task report_interval  \
0           65000                 35   43416.030534         quarter

  task_cadence cadence_interval_ratio  cost_per_period
0      quarter                      1     43416.030534

In [77]:
dfObj

,current_time_spent_period,employee_cost_period,employee_cost_ratio,employee_salary,current_time_spent,cost_per_task,report_interval,task_cadence,cadence_interval_ratio,cost_per_period
0,week,year,0.019084,65000,35,43416.030534,quarter,quarter,1,4.341603e+04
1,month,year,0.083333,200000,10,166666.666667,quarter,week,13.1,2.183333e+06

In [ ]:
output["current_time_spent_period"] = current_time_spent_period
output["employee_cost_period"] = employee_cost_period
output["employee_cost_ratio"] = employee_cost_ratio
output["employee_salary"] = employee_salary
output["current_time_spent"] = current_time_spent
output["cost_per_task"] = cost_per_task
output["report_interval"] = report_interval
output["task_cadence"] = task_cadence
output["cadence_interval_ratio"] = cadence_interval_ratio
output["cost_per_period"] = cost_per_period

In [21]:
current_time_spent_period = req[0]["current_time_spent_period"]["period"]

In [22]:
employee_cost_period = req[0]["employees"]["period"]

In [27]:
employee_cost_ratio = date_dict[current_time_spent_period][employee_cost_period]

In [31]:
employee_salary = req[0]["employees"]["cost"]

In [32]:
current_time_spent = req[0]["current_time_spent"]

In [33]:
cost_per_task = employee_salary * current_time_spent * employee_cost_ratio

In [45]:
report_interval = 'quarter'

In [46]:
task_cadence = req[0]["cadences"]["period"]

In [48]:
cadence_interval_ratio = date_dict[report_interval][task_cadence]

In [49]:
cost_per_period = cost_per_task * cadence_interval_ratio

In [50]:
output = {}

In [51]:
output["current_time_spent_period"] = current_time_spent_period
output["employee_cost_period"] = employee_cost_period
output["employee_cost_ratio"] = employee_cost_ratio
output["employee_salary"] = employee_salary
output["current_time_spent"] = current_time_spent
output["cost_per_task"] = cost_per_task
output["report_interval"] = report_interval
output["task_cadence"] = task_cadence
output["cadence_interval_ratio"] = cadence_interval_ratio
output["cost_per_period"] = cost_per_period

In [52]:
output

{'current_time_spent_period': 'week',
 'employee_cost_period': 'year',
 'employee_cost_ratio': 0.019083969465648856,
 'employee_salary': 65000,
 'current_time_spent': 35,
 'cost_per_task': 43416.03053435114,
 'report_interval': 'quarter',
 'task_cadence': 'quarter',
 'cadence_interval_ratio': 1,
 'cost_per_period': 43416.03053435114}